.reveal section img.v33 {
    border:0;
    vertical-align: middle;
    height: 4em;
    width: 4em;
    background: transparent;
}

.reveal section div.dark-banner {
    background-color:rgb(0,0,0);opacity:0.9;
    padding:2em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

.reveal section div.logo {
    float:left; 
    min-width:100px;
    height:100px;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
}
.reveal section div.logo img {

}

.reveal section div.stack {
    border:5px solid lightblue;
    width:100%;
    height:50px;
    font-size: 1.1em;
    padding:15px;
    margin-bottom: 10px;
}

.reveal section div.box {
    max-width: 250px;
    float:left;
    font-size: .7em;
    height:100%;
}
.reveal section div.box ul {
    list-style-type: none;
}
.reveal section div.box li {
    margin:-5 0px;
    padding:0px;

}
.reveal section div.box a {
    font-size: .5em;
}